# 3월 31일 수업자료 

1.패키지 로드 및 사용할 데이터 불러오기

In [1]:
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns

#그냥 import pandas 만 하면 어떻게 될까

In [3]:
n=np.NaN
idx = ['row1','row2','row3','row4','row5']
col = ['col1','col2','col3']
data = [['A','Z',3,],['D','Y',n],['B','Z',3],['C','Y',8],['A','Z',3]]
df = pd.DataFrame(data, idx, col)

df

     col1 col2  col3
row1    A    Z   3.0
row2    D    Y   NaN
row3    B    Z   3.0
row4    C    Y   8.0
row5    A    Z   3.0

In [20]:
df = pd.read_csv("/content/coat_2.csv")

#만약 엑셀 파일을 불러온다면?

데이터에 대한 사칙연산은 넘깁니다. 궁금하시다면 
https://wikidocs.net/book/4639
/
https://wikidocs.net/book/7188


# 기본적인 데이터 확인 과정 head(n) 앞에서부터 n개의 데이터  tail(n) 뒤에서부터 n개의 데이터

In [21]:
df.head()

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,150,40
2,ADER ERROR,Zany coat,0.0,69.0,0,31,115.0,679,298
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,50.0,0,0,107.0,1400,290
4,ANOUTFIT,유니섹스 오버핏 발마칸 울 코트 네이비,0.0,40.0,60,0,109.0,189,59

In [22]:
df.info() # 각 열에서 가지는 값들의 형태가 무엇이고 , 결측값은 몇개인가에 대한 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   brand     106 non-null    object
 1   한글이름      106 non-null    object
 2   cashmere  106 non-null    float64
 3   wool      106 non-null    float64
 4   poly      106 non-null    int64
 5   other     106 non-null    int64
 6   length    106 non-null    float64
 7   cost      106 non-null    int64
 8   shirt     106 non-null    int64
dtypes: float64(3), int64(4), object(2)
memory usage: 7.6+ KB

In [23]:
df.columns  #df.index 하면 행에 대한 정보가 나옴

Index(['brand', '한글이름', 'cashmere', 'wool', 'poly', 'other', 'length', 'cost',
       'shirt'],
      dtype='object')

In [24]:
df['brand'].value_counts()  #형태가 숫자형일때는 사용하기 어려움 고유한 값들 보여줌

Theory         4
Tonywack       4
blankroom      4
T.IFORMEN      3
SOLID          3
              ..
버버리            1
어나더 오피스        1
유니클로           1
Art if acts    1
epigram        1
Name: brand, Length: 75, dtype: int64

In [25]:
df.isnull().sum()  #isnull()의 반대는 notnull()

brand       0
한글이름        0
cashmere    0
wool        0
poly        0
other       0
length      0
cost        0
shirt       0
dtype: int64

# 조건에 맞는 추출 df['변수 이름1','변수 이름2']

In [26]:
df[df['brand'] == '8 seconds']

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,150,40

조건에 만족시키는 행 추출 df[df['변수이름'] == , != , >= 등등 다양한 논리 연산자 사용해서 추출 가능

In [27]:
df[(df['cashmere'] >= 20) & (df['cost'] <=400) ] # & :and , | : or

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
24,DRAW FIT,프리미어 퓨어 캐시미어 히든 싱글 코트 [BLACK],21.1,78.9,0,0,110.5,219,55
25,DRAW FIT,프리미어 퓨어 캐시미어 발마칸 코트 [BLACK],21.1,78.9,0,0,113.5,246,55
35,INSILENCE,솔리스트 캐시미어 코트 BLACK,20.0,80.0,0,0,108.0,266,99
36,INSILENCE,캐시미어 롱 코트 BLACK,20.0,80.0,0,0,122.0,289,43

In [31]:
df.loc[:30 , 'cashmere' : 'cost'] #loc[행,열]

    cashmere   wool  poly  other  length  cost
0        0.0   58.0    36      6   113.5   179
1        0.0   43.0    25     32   108.5   150
2        0.0   69.0     0     31   115.0   679
3       50.0   50.0     0      0   107.0  1400
4        0.0   40.0    60      0   109.0   189
5       10.0   75.0    10      5   106.0   395
6       30.0   70.0     0      0   120.0  2250
7        0.0   78.0     0      0   104.0   699
8        0.0  100.0     0      0   112.0   458
9       10.0   90.0     0      0   117.0   299
10       0.0  100.0     0      0   113.0   448
11       0.0   90.0     0     10   112.0   378
12       0.0   90.0     0     10   103.0   386
13       0.0   90.0     0     10   112.0   331
14      11.0   52.0    30      7   107.3   298
15      10.0   67.0    23      0   115.5   329
16      10.0   67.0    23      0   115.0   329
17     100.0    0.0     0      0   102.0  1150
18       0.0   64.0    32      4   100.0   390
19      11.0   76.0     9      2   100.0   699
20       0.0   80.0     1     19   110.0   729
21      32.0   46.0    20      2   110.0   849
22       6.0   48.0    43      3    93.0   149
23       0.0   90.0     0     10   104.0   428
24      21.1   78.9     0      0   110.5   219
25      21.1   78.9     0      0   113.5   246
26      10.0   60.0    25      5   104.0   279
27       0.0   80.0     0     20   114.0   268
28     100.0    0.0     0      0    93.0  1690
29     100.0    0.0     0      0    91.0  1690
30       0.0   50.0    29     21   100.0   148

In [36]:
df.iloc[39,7] #iloc은 뭘까요??

173

In [37]:
#연습문제 캐시미어가 30퍼센트 이상인 찾기?
#캐시미어가 30퍼센트 이상이거나 울 함량이 70퍼센트 이상인 코트는 찾기? (& 대신 | 사용)

df[df['cashmere']>30 ]

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,50.0,0,0,107.0,1400,290
17,cos,싱글 브레스티드 캐시미어 코트,100.0,0.0,0,0,102.0,1150,135
21,customellow,alvin long single coat,32.0,46.0,20,2,110.0,849,139
28,Galaxy,[Suggello] 캐시미어 체스터 코트 - 네이비,100.0,0.0,0,0,93.0,1690,129
29,Galaxy,[Suggello] 캐시미어 셋인 코트 - 네이비,100.0,0.0,0,0,91.0,1690,129
57,Theory,Men Tokyo Double Bi Color Kai Coat - Fossil Me...,100.0,0.0,0,0,104.0,2280,300
77,SOLID,블랙 캐시미어 블랜드 코트,50.0,50.0,0,0,109.0,1580,328
93,LARDINI,이지 캐시미어 싱글 코트,100.0,0.0,0,0,105.0,2970,390
102,CAMBRIDGE MEMBERS,브레스키 캐시미어 블렌드 체스터 코트,98.0,0.0,2,0,88.0,1690,200

In [38]:
#정렬하기
df.sort_index().head(5)

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,150,40
2,ADER ERROR,Zany coat,0.0,69.0,0,31,115.0,679,298
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,50.0,0,0,107.0,1400,290
4,ANOUTFIT,유니섹스 오버핏 발마칸 울 코트 네이비,0.0,40.0,60,0,109.0,189,59

In [39]:
df.sort_index(ascending=False).head(5)

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
105,epigram,핸드메이드 맥코트,8.0,67.0,0,25,104.0,639,139
104,RAUM,블랙 단색 울캐시미어혼방 코트,30.0,70.0,0,0,111.0,978,328
103,BEAKER,Men Soft Balmacaan Coat - Brown,0.0,66.0,1,33,108.0,735,235
102,CAMBRIDGE MEMBERS,브레스키 캐시미어 블렌드 체스터 코트,98.0,0.0,2,0,88.0,1690,200
101,ck calvin clain,핸드메이드 롱 싱글 코트,30.0,70.0,0,0,108.0,1380,398

In [40]:
df.sort_values(by='cashmere',ascending=True).head()

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
59,Theory,Men Loft Wool Natt Coat - Black,0.0,79.0,0,21,116.5,1480,300
76,홀리선,22FW Winterport Wool Coat Dark Navy,0.0,90.0,0,10,113.0,459,135
30,Giordano,NEW 홍태준 울 싱글코트,0.0,50.0,29,21,100.0,148,40
70,어나더 오피스,22AW Voyager Balmacaan Coat (Dark Navy),0.0,100.0,0,0,104.0,418,118

In [41]:
df.sort_values(by='한글이름',ascending = False).head()

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
91,zegna,휴어울 코트,0.0,100.0,0,0,100.0,4750,350
44,NUAKLE,헤링본 울 맥 코트_블랙,0.0,70.0,30,0,112.0,290,59
96,Juun.J,핸드메이드 발마칸 코트 - 블랙,9.0,91.0,0,0,118.0,1490,460
105,epigram,핸드메이드 맥코트,8.0,67.0,0,25,104.0,639,139
101,ck calvin clain,핸드메이드 롱 싱글 코트,30.0,70.0,0,0,108.0,1380,398

In [42]:
df.sort_values(by=['cashmere', 'cost']).head()

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
48,PARTIMENTO,Oversize Melton Chesterfield Coat,0.0,10.0,60,30,109.0,129,59
30,Giordano,NEW 홍태준 울 싱글코트,0.0,50.0,29,21,100.0,148,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,150,40
47,PARTIMENTO,Oversize Melton Balmacaan Coat,0.0,10.0,60,30,112.0,161,59
39,LAFUDGETSTORE,울리치 발마칸 오버 코트_Black,0.0,70.0,30,0,115.0,173,45

In [43]:
df1 = df.copy()

df1.head()

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,150,40
2,ADER ERROR,Zany coat,0.0,69.0,0,31,115.0,679,298
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,50.0,0,0,107.0,1400,290
4,ANOUTFIT,유니섹스 오버핏 발마칸 울 코트 네이비,0.0,40.0,60,0,109.0,189,59

In [69]:
#데이터 조작 (기존에 있는 값)
display(df.head(2))
df.loc[1,'cost'] = 100
df.head(2)

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,150,40

,brand,한글이름,cashmere,wool,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,25,32,108.5,100,40

In [44]:

df1.insert(4,'luxury3' , df1['cost'] > 800) # 새로운 변수 넣기

df1

,brand,한글이름,cashmere,wool,luxury3,poly,other,length,cost,shirt
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,False,36,6,113.5,179,40
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,False,25,32,108.5,150,40
2,ADER ERROR,Zany coat,0.0,69.0,False,0,31,115.0,679,298
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,50.0,True,0,0,107.0,1400,290
4,ANOUTFIT,유니섹스 오버핏 발마칸 울 코트 네이비,0.0,40.0,False,60,0,109.0,189,59
...,...,...,...,...,...,...,...,...,...,...
101,ck calvin clain,핸드메이드 롱 싱글 코트,30.0,70.0,True,0,0,108.0,1380,398
102,CAMBRIDGE MEMBERS,브레스키 캐시미어 블렌드 체스터 코트,98.0,0.0,True,2,0,88.0,1690,200
103,BEAKER,Men Soft Balmacaan Coat - Brown,0.0,66.0,False,1,33,108.0,735,235
104,RAUM,블랙 단색 울캐시미어혼방 코트,30.0,70.0,True,0,0,111.0,978,328
105,epigram,핸드메이드 맥코트,8.0,67.0,False,0,25,104.0,639,139

In [45]:
df1['fur'] = df1['cashmere'] + df1['wool']

df1

,brand,한글이름,cashmere,wool,luxury3,poly,other,length,cost,shirt,fur
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,False,36,6,113.5,179,40,58.0
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,False,25,32,108.5,150,40,43.0
2,ADER ERROR,Zany coat,0.0,69.0,False,0,31,115.0,679,298,69.0
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,50.0,True,0,0,107.0,1400,290,100.0
4,ANOUTFIT,유니섹스 오버핏 발마칸 울 코트 네이비,0.0,40.0,False,60,0,109.0,189,59,40.0
...,...,...,...,...,...,...,...,...,...,...,...
101,ck calvin clain,핸드메이드 롱 싱글 코트,30.0,70.0,True,0,0,108.0,1380,398,100.0
102,CAMBRIDGE MEMBERS,브레스키 캐시미어 블렌드 체스터 코트,98.0,0.0,True,2,0,88.0,1690,200,98.0
103,BEAKER,Men Soft Balmacaan Coat - Brown,0.0,66.0,False,1,33,108.0,735,235,66.0
104,RAUM,블랙 단색 울캐시미어혼방 코트,30.0,70.0,True,0,0,111.0,978,328,100.0
105,epigram,핸드메이드 맥코트,8.0,67.0,False,0,25,104.0,639,139,75.0

In [46]:
df1.insert(3, 'fur3', df1['cashmere']+ df1['wool'])

In [70]:
df1

,brand,한글이름,cashmere,fur3,wool,luxury3,poly,other,length,cost,shirt,fur
0,8 seconds,[울 블렌디드] 발마칸 캐주얼 코트,0.0,58.0,58.0,False,36,6,113.5,179,40,58.0
1,8 seconds,[울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지,0.0,43.0,43.0,False,25,32,108.5,150,40,43.0
2,ADER ERROR,Zany coat,0.0,69.0,69.0,False,0,31,115.0,679,298,69.0
3,allegri,[22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트,50.0,100.0,50.0,True,0,0,107.0,1400,290,100.0
4,ANOUTFIT,유니섹스 오버핏 발마칸 울 코트 네이비,0.0,40.0,40.0,False,60,0,109.0,189,59,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
101,ck calvin clain,핸드메이드 롱 싱글 코트,30.0,100.0,70.0,True,0,0,108.0,1380,398,100.0
102,CAMBRIDGE MEMBERS,브레스키 캐시미어 블렌드 체스터 코트,98.0,98.0,0.0,True,2,0,88.0,1690,200,98.0
103,BEAKER,Men Soft Balmacaan Coat - Brown,0.0,66.0,66.0,False,1,33,108.0,735,235,66.0
104,RAUM,블랙 단색 울캐시미어혼방 코트,30.0,100.0,70.0,True,0,0,111.0,978,328,100.0
105,epigram,핸드메이드 맥코트,8.0,75.0,67.0,False,0,25,104.0,639,139,75.0

새로운 열을 만들다보니 많이 어지러워 졌다. 필요없는 열은 버리자

In [ ]:
df1.drop('한글이름',axis=1).head()  #꼭 axis 지정해줘야함

        brand  cashmere  wool  luxury  poly  other  length  cost  shirt
0   8 seconds       0.0  58.0   False    36      6   113.5   179     40
1   8 seconds       0.0  43.0   False    25     32   108.5   100     40
2  ADER ERROR       0.0  69.0   False     0     31   115.0   679    298
3     allegri      50.0  50.0    True     0      0   107.0  1400    290
4    ANOUTFIT       0.0  40.0   False    60      0   109.0   189     59

In [ ]:
df2 = df1.drop(['한글이름','luxury'] , axis = 1)

In [ ]:
df2.head()

        brand  cashmere  wool  poly  other  length  cost  shirt
0   8 seconds       0.0  58.0    36      6   113.5   179     40
1   8 seconds       0.0  43.0    25     32   108.5   100     40
2  ADER ERROR       0.0  69.0     0     31   115.0   679    298
3     allegri      50.0  50.0     0      0   107.0  1400    290
4    ANOUTFIT       0.0  40.0    60      0   109.0   189     59

필요한 열만 사용하기 + 열의 순서 바꾸기

In [48]:
df2 = df1[['cashmere','brand']]

df2

     cashmere              brand
0         0.0          8 seconds
1         0.0          8 seconds
2         0.0         ADER ERROR
3        50.0            allegri
4         0.0           ANOUTFIT
..        ...                ...
101      30.0   ck calvin clain
102      98.0  CAMBRIDGE MEMBERS
103       0.0             BEAKER
104      30.0               RAUM
105       8.0            epigram

[106 rows x 2 columns]

In [ ]:
df[['한글이름','cashmere']]

                                            한글이름  cashmere
0                            [울 블렌디드] 발마칸 캐주얼 코트       0.0
1                   [울 블렌디드] 베이직 솔리드 싱글 코트 - 베이지       0.0
2                                      Zany coat       0.0
3    [22FW] 블랙《Cashmere-Rich 50》핸드메이드 세미오버 싱글 코트      50.0
4                         유니섹스 오버핏 발마칸 울 코트 네이비        0.0
..                                           ...       ...
101                               핸드메이드 롱 싱글 코트       30.0
102                         브레스키 캐시미어 블렌드 체스터 코트      98.0
103              Men Soft Balmacaan Coat - Brown       0.0
104                             블랙 단색 울캐시미어혼방 코트      30.0
105                                    핸드메이드 맥코트       8.0

[106 rows x 2 columns]

묶어서 통계량 내기

In [ ]:
df.groupby('brand')[['cost']].mean() #cost에 [[]] 하는 이유가 뭘까요?

              cost
brand
24/7 series  279.0
8 seconds    164.5
ADER ERROR   679.0
ANOUTFIT     189.0
Art if acts  395.0
...            ...
지오지아         549.0
크리스 크리스티     399.0
클럽 모나코       958.0
헤지스          399.0
홀리선          459.0

[75 rows x 1 columns]

In [ ]:
#데이터를 브랜드로 묶어서 평균가격이 가장 높은 브랜드 순으로 정렬해보자

In [56]:
result = df.groupby('brand')[['cost']].mean()
result.sort_values(by = 'cost' , ascending = False)

                    cost
brand
zegna             4750.0
돌체 앤 가바나          4100.0
Giorgio armani    3820.0
버버리               3190.0
EMPORIO ARMANI    3170.0
...                  ...
MUSINSA STANDARD   175.0
8 seconds          164.5
DANIEL CREMIEUX    149.0
PARTIMENTO         145.0
Giordano           138.0

[75 rows x 1 columns]

# 시간이 남는 다면 타이타닉 데이터로 앞에서 했던거 해보기 
1.데이터 형태 확인 , 변수 이해하기
2.목표설정(누가 살아남았을 까요)
3.결측값처리(지금은 안함)

survivied: 생존여부 (1: 생존, 0: 사망)

pclass: 좌석 등급 (1등급, 2등급, 3등급)

sex: 성별

age: 나이

sibsp: 형제 + 배우자 수

parch: 부모 + 자녀 수

fare: 좌석 요금

embarked: 탑승 항구 (S, C, Q)

class: pclass와 동일

who: 남자(man), 여자(woman), 아이(child)

adult_male: 성인 남자 여부

deck: 데크 번호 (알파벳 + 숫자 혼용)

embark_town: 탑승 항구 이름

alive: 생존여부 (yes, no)

alone: 혼자 탑승 여부

In [58]:

df2 = sns.load_dataset("titanic")

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
%%shell
jupyter nbconvert --to html /3월_31일_수업자료.ipynb

[NbConvertApp] Converting notebook /3월_31일_수업자료.ipynb to html
[NbConvertApp] Writing 749566 bytes to /3월_31일_수업자료.html